body{
    background-color: gray;
}
.education{
    width: 70%;
    height: auto;
    padding: 50px;
    background-color: black;
    margin: 1px solid red;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 180px;
    margin-bottom: 50px;
}
.education h1{
    background-color: aliceblue;
    color: black;
}
span{
    color: #f9004d;
}
.school12{
    width: 70%;
    height: auto;
    padding: 50px;
    background-color: black;
    margin: 1px solid red;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 180px;
    margin-bottom: 50px;
}
.school12 h1{
    background-color: aliceblue;
    color: black;
}
.school10{
    width: 70%;
    height: auto;
    padding: 50px;
    background-color: black;
    margin: 1px solid red;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 180px;
    margin-bottom: 50px;
}
.school10 h1{
    background-color: aliceblue;
    color: black;
}




































































































